@font-face {
    font-family: 'Minecraft';
    src: url('../fonts/Minecraft.ttf') format('truetype');
}

canvas{
    font-family: 'Minecraft';
    background-image: url("../images/nebula-bg.jpg");
    box-sizing: border-box;
    border: 1px solid black;
    height: 100vh;
    width: 100vw;
}
body {
    overflow: hidden;
}